* {
    margin-top: 0;
}

body {
    background-color: beige;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;

}

nav li:hover {
    color: maroon;
    cursor: alias;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid maroon;
    padding: 10px 20px;
}

.container {
    display: flex;
}

.container div {
    border: 2px solid black;
    height: 50px;
    font-size: 3em;
    width: 50px;
}

.box-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    font-size: 4em;
    height: 150px;
    width: 150px;
    border: 2px solid tomato;
    background-color: chocolate;
}


.navbar ul {
    display: flex;
    justify-content: right;
    background-color: blanchedalmond;
    margin-top: 0;
    padding: 15px 0;
    font-size: 25px;
}

.navbar li {
    list-style: none;
    margin-right: 10px;
}

.navbar li a {
    color: black;
    text-decoration: none;
}

.navbar li:hover {
    background-color: lightskyblue;
}