body {
    background-color: beige;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;

}

nav li:hover {
    color: maroon;
    cursor: alias;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid maroon;
    padding: 10px 20px;
}